<a href="https://colab.research.google.com/github/xalejandrow/connecting-to-a-sql-database-project-tutorial/blob/main/SQL_4GKS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.37)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.11.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.2.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=be58b696c062de5f29a3a0fc84ac5e2f0618e29313b59734e678c89d47af7430
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
import pandas as pd
from pandasql import sqldf
df = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")

In [ ]:
sqldf("select * from df limit 10")

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
5,AFG,Asia,Afghanistan,2020-02-29,5.0,0.0,0.714,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
6,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,0.714,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
7,AFG,Asia,Afghanistan,2020-03-02,5.0,0.0,0.000,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
8,AFG,Asia,Afghanistan,2020-03-03,5.0,0.0,0.000,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
9,AFG,Asia,Afghanistan,2020-03-04,5.0,0.0,0.000,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None